// color
$body-black:#000000;
$body-white:#ffffff;
$body-white-secondary:#bababa;
$primary-color:#d317b8;
$primary-color-2:#1e0993;
$secondary-color:#2f0d29;
$bs-tertiary-color:#230c18;
$btn-color:#380856;
$btn-color-2:#6c90e8;
$bs-card-color:#1c0818;
$bs-project-color:#380856;
$bs-project-color-2:#387cdf;
$bs-project-color-3:#58006b;
$bs-project-color-4:#380856;


// font femily
@font-face {
    font-family: 'Fira Sans';
    src: url('font/firasans-light-webfont.woff2') format('woff2'),
         url('font/firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Fira Sans';
    src: url('font/firasans-regular-webfont.woff2') format('woff2'),
         url('font/firasans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Sans';
    src: url('font/firasans-thin-webfont.woff2') format('woff2'),
         url('font/firasans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Oddlini';
    src: url('font/oddlini-regular-webfont.woff2') format('woff2'),
         url('font/oddlini-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin heding{
    font-size:calc(3rem + 1.5vw);
    font-family: 'Oddlini' sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    color: $body-white;
    text-transform: capitalize;
}
@mixin paragraph{
    font-family: 'Fira Sans' sans-serif;
    font-weight: 300;
    font-size: 1.375rem;
    font-style: normal;
    font-display: swap;
    color: $body-white;
}
@mixin my-btn{
    padding: 10px 40px;
    cursor: pointer;
    color: $body-white;
    border-radius: 40px;
    text-align: center;
    font-family: 'fira sans';
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
}
@mixin project-heding{
    font-family: 'fira sans';
    font-weight: bold;
    color: $body-white;
    text-transform: capitalize;
    font-size: calc(1.375rem + 1.5vw);
}
@mixin project-date{
    font-family: 'fira sans';
    font-weight: 100;
    color: $body-white;
    font-size: calc(0.875rem + 1.5vw);

}

