@use 'variable' as *;
@use 'breakpoints'as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: $body-black;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;    
}
.whatsapp-btn{
    width: 60px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
    animation:  heartbeat .9s infinite alternate;
    @include mobile-only{
        bottom: 10px;
        width: 40px;
    }
    @include tablet-only{
        bottom: 10px;
        width: 40px;

    }
}
@keyframes heartbeat{
    to{
        transform: scale(1.1);
    }
}

.is-sticky {
    position: fixed !important;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    animation: navslideDown 0.5s ease-out;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
@keyframes navslideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}
// a.back-to-top {
//     display: none;
//     width: 60px;
//     height: 60px;
//     text-indent: -9999px;
//     position: fixed;
//     z-index: 999;
//     right: 20px;
//     bottom: 20px;
//     background: #690ceb url("./assets/arrow-up.svg") no-repeat center 43%;
//     -webkit-border-radius: 30px;
//     -moz-border-radius: 30px;
//     border-radius: 30px;
//     animation:  heartbeat .9s infinite alternate;
// }
// @keyframes heartbeat{
//     to{
//         transform: scale(1.1);
//     }
// }


// ==============nav section =================
.nav-section{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    .nav-container{
        .navbar{
            display: flex;
            align-items: center;
            background-color: $body-black;
            border-radius: 100px;
            position: relative;
            top: 10px;
            @include tablet-only{
                flex-wrap: nowrap;
            }
            &::after,&::before{
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            background: linear-gradient(45deg, $primary-color-2, $btn-color, $primary-color, #6e0dd0);
            border-radius: 100px;
            background-size: 400%;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            z-index: -1;
            animation: glow 20s linear infinite;
            }
            &::after{
                filter: blur(10px);
            }
            .brand-name{
                padding-left: 2rem;
                font-family: 'Oddlini';
                color: $body-white;
                font-size: 1.5rem;
                @include mobile-only{
                    font-size: .5rem;
                }
                @include tablet-only{
                    font-size: 1rem;
                    padding-left: 1rem;
                }
            }
            .nav-menu{
                .nav-link{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1.5rem;
                    margin-bottom: 0;
                    @include tablet-only{
                        gap: 0;
                        
                    }
                    li{
                        list-style: none;
                        padding-right: 2rem;
                        @include tablet-only{
                            padding-right: 1.2rem;
                        }
                        a{
                            text-decoration: none;
                            color:$body-white-secondary;
                            font-family: 'Fira Sans';
                            font-weight: 600;
                            font-style: normal;
                            font-display: swap;
                            font-size: 1rem;
                            position: relative;
                            @include tablet-only{
                                font-size: .9rem;
                            }
                            &:hover{
                                color: $body-white;
                            }
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: $primary-color;
                                transition: all 0.5s;                               
                            }
                            &:hover::after{
                                width: 100%;                                
                            }
                            &.active{
                                color: $body-white;
                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -10px;
                                    left: 0;
                                    width: 100%;
                                    height: 2px;
                                    background-color: $primary-color;

                                }
                            }
                        }
                    }
                    .nav-contact{
                        display: none
                    }
                    .nav-btn{
                        @include my-btn();
                        background-color: $btn-color;
                        margin-right: 0.5rem;
                        transition: 0.5s linear;
                        border: 1px solid transparent;
                        @include tablet-only{
                            padding: 5px 20px;
                            margin-right: 1rem;
                            font-size: .8rem;
                        }
                        &:hover{
                            background: transparent;
                            color:$body-white;
                            border: 1px solid $primary-color;
                            box-shadow: 0 0 20px $primary-color;
                        }
                    }
                }

            }
            .toogle{
                display: none;
                font-size: 1.675rem;
                color: $body-white;
                padding-right: 1rem;
            }
        }
    }
}
@keyframes glow{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 0;
    }

}
// ==============nav section end =================


// ==============banner section =================
.banner-section{
    width: 100vw;
    height: auto;
    background: linear-gradient(120deg,$body-black, $body-black, $primary-color-2,$primary-color);
    position: relative;
    top: 0;
    overflow: hidden;
    .banner-container{
        @include mobile-only{
            padding-inline: 1rem;
            
        }
        .banner-text{
            margin-top: 20%;
            @include mobile-only{
                padding-top:5%;
            }
            .banner-top-heding{
                font-family: 'Fira Sans';
                font-weight: 100;
                font-style: normal;
                font-display: swap;
                color: $body-white-secondary;
                font-size: 3rem;
                @include mobile-only{
                    font-size: 2rem;
                }
                @include tablet-only{
                    font-size: 1.375rem;
                    padding-top: 2.5rem;
                }
            }
            .banner-heding{
                font-family: 'Oddlini';
                font-weight: normal;
                font-style: normal;
                font-display: swap;
                font-size: 7rem;
                line-height: 1.0;
                padding-block: 1rem;
                color: $body-white;
                @include mobile-only{
                    font-size: 5rem;
                    padding-block: .5rem;
                }
                @include tablet-only{
                    font-size: 4rem;
                    padding-top: 1.5rem;

                }
            }
            .paragraph{
                display: flex;
                align-items: center;
                .vl{
                    width: 2px;
                    height: 60px;
                    background-color: $body-white;
                    // @include mobile-only{
                    //     height: 40px
                    // }
                    @include tablet-only{
                        height: 40px;
                    }
                }
                p {
                    padding-left: 1.2rem;
                    padding-top: 1rem;
                    @include paragraph();
                    @include mobile-only {
                        font-size: 1.375rem;
                    }
                    @include tablet-only{
                        font-size: 1rem;
                    }
                }
                
            }
            .social-media ul {
                list-style: none;
                display: flex;
                padding: 0;
                @include tablet-only{
                    padding-top: 1rem;
                }
            }
            .social-media ul li {
                padding-right: 0.5rem;
                &:last-child {
                    padding-right: 0;
                }
            }
            .social-media i{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: $primary-color;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                backdrop-filter: brightness(88%);
                font-size: 20px;
                box-shadow: 0 0 20px transparent;
                cursor: pointer;
                transition: all .50s ease;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0 0 20px $primary-color;
                }
            }
        }
        .banner-img{
            position: relative;
            .img-background{
                width:600px;
                height: 600px;
                background:linear-gradient(120deg,$btn-color-2, $primary-color);
                border-radius: 100%;
                position: absolute;
                top: 180px;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                overflow: hidden;
                @include mobile-only{
                    width: 250px;
                    height: 250px;
                    top: 80px;
                }
                @include tablet-only{
                    width: 350px;
                    height: 350px;
                }                       
            }
            .banner-img-border {
                width:650px;
                height: 650px;
                border: 3px solid $primary-color;
                border-top-color: transparent;
                border-radius: 100%;
                position: absolute;
                top: 180px;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                overflow: hidden;
                @include mobile-only{
                    width: 280px;
                    height:280px;
                    top: 80px;
                }
                @include tablet-only{
                    width: 400px;
                    height: 400px;
                }
            }
            .my-images{
                position: absolute;
                width: 50%;
                height: auto;
                top: 25px;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                @include mobile-only{
                    // top: 0;
                }
                @include tablet-only{
                    top: 80px;
                }

            }
            .banner-icon {
                position: absolute;
                margin-top: 50%;
                margin-left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                // overflow: hidden;
                width:470px;
                height: 530px;

                .banner-behance-icon {
                    position: absolute;
                    top: 180px;
                    left: 0px;
                    border-radius: 50%;
                    transition: all .50s ease;
                    transform: rotate(0deg);
                    animation: rotate 10s infinite;
                    @include mobile-only{
                        top: 220px;
                        left: 120px;
                    }
                    @include tablet-only{
                        top: 270px;
                        left: 80px;
                    }
                    img{
                        @include mobile-only{
                            width: 40px;
                        }
                    }
                    &:hover{
                        box-shadow: 0 0 20px $primary-color;
                        transform: scale(1.1);
                    }

                    
                }
                .banner-github-icon {
                    position: absolute;
                    top: 180px;
                    right: 0px;
                    border-radius: 50%;
                    transition: all .50s ease;
                    animation: rotate 10s infinite;
                    @include mobile-only{
                        top: 220px;
                        right: 120px;

                    }
                    @include tablet-only{
                        top: 270px;
                        right: 70px;
                    }
                    img{
                        @include mobile-only{
                            width: 40px;
                        }
                    }
                    &:hover{
                        box-shadow: 0 0 20px $primary-color;
                        transform: scale(1.1);
                    }                            
                }
                // .banner-github-icon {
                //     position: absolute;
                //     top: 540px;
                //     right: -60px;
                //     border-radius: 50%;
                //     transition: all .50s ease;
                //     animation: rotate 10s infinite;
                //     @include mobile-only{
                //         top: 370px;
                //         right: 120px;
                //     }
                //     @include tablet-only{
                //         top: 450px;
                //         right: 10px;
                //     }
                //     img{
                //         @include mobile-only{
                //             width: 40px;
                //         }
                //     }
                //     &:hover{
                //         box-shadow: 0 0 20px $primary-color;
                //         transform: scale(1.1);
                //     }
                // }
                @keyframes rotate {
                    0%{
                        transform: rotate(0deg);
                    }
                    100%{
                        transform: rotate(380deg);
                    }
                    
                }
                .my-cv{
                    position: absolute;
                    top: 500px;
                    left: -85px;
                    line-height: 12px;
                    background-color: $primary-color;
                    width: 80px;
                    height: 80px;
                    border-radius: 50px;
                    display: grid;
                    place-content: center;
                    font-family:sans-serif;
                    color: $body-white;
                    font-size: 2rem;
                    font-weight: 600;
                    padding: 10px; 
                    cursor: pointer;
                    z-index: 3;
                    @include mobile-only{
                        width: 50px;
                        height: 50px;
                        top: 350px;
                        left: 80px;
                    }
                    @include tablet-only{
                        width: 70px;
                        height: 70px;
                        top: 430px;
                        left: 10px;

                    }
                    &::after, &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: $primary-color;
                        border-radius: 50%;
                        opacity: 0.9;
                        z-index: 2;
                    }
                    &::before{
                        animation: pluse 2s ease-out infinite;
                    }
                    &::after{
                        animation: pluse 2s 1s ease-out infinite;
                    }
                    i, span {
                        z-index: 3;
                        font-size: 1.375rem;
                        line-height: 5px;
                    }
                }
                @keyframes pluse {
                    100%{
                        transform: scale(1.3);
                        opacity: 0;
                    }
                    
                }
                
            }
            
        }

    }


}
// ==============banner section end=================







// ==============about section =================
.about-section{
    padding-block: 8rem;
    @include tablet-only{
        padding-block: 4rem;
    }
    @include mobile-only{
        padding-block: 3rem
    }
    .about-container{
        img{

        }
        .about-text{
            .heding{
                @include heding();
            }
            .paragraph{
                line-height: 160%;
                padding-bottom: 2rem;
                @include paragraph();
            }
            .my-btn{
                @include my-btn();
                display: inline-block;
                background-color: $primary-color;
                border: 1px solid $primary-color;
                transition: .5s linear;
                &:hover{
                    background: transparent;
                    color:$body-white;
                    box-shadow: 0 0 20px $primary-color;
                }

            }

        }
    }
}
// ==============about section  end=================



// ==============My skils section =================
.my-skils{
    .skils-container{
        padding-top: 4rem;
        @include tablet-only{
            padding-top: 2rem;
        }
        .heding{
            display: grid;
            place-items: center;
            @include heding();
        }
        .skill-box{
            width: 100%;
            margin: 20px 0px 30px;
        }
        .title{
            display: block;
            font-family: 'Fira Sans';
            font-weight: bold;
            font-style: normal;
            font-display: swap;
            font-size: 1.5rem;
            color: $body-white;
            @include mobile-only{
                font-size: 1rem;
            }
        }
        .skill-bar{
            width: 100%;
            height: 12px;
            border-radius: 20px;
            margin-top: 6px;
            background: $btn-color;
            .skill-per{
                position: relative;
                display: block;
                height: 100%;
                width: 90%;
                border-radius: 20px;
                background: $primary-color;
                animation: progress 0.4s ease-in-out forwards;
                opacity: 0;
            }
            .html{
                width: 90%;
                animation-delay: 0.1s;
            }
            .css{
                width: 80%;
                animation-delay: 0.2s;
            }
            .scss{
                width: 78%;
                animation-delay: 0.3s;
            }
            .bootstrap{
                width: 85%;
                animation-delay: 0.4s;
            }
            .javascript{
                width: 60%;
                // animation-delay: 0.5s;
            }
            .react{
                width: 75%;
                animation-delay: 0.1s;
            }
            .jquery{
                width: 70%;
                animation-delay: 0.2s;
            }
            .github{
                width: 82%;
                animation-delay: 0.3s;
            }
            .Photoshop{
                width: 95%;
                animation-delay: 0.4s;
            }
            .figma{
                width: 92%;
                animation-delay: 0.5s;
            }

            @keyframes progress {
                0%{
                    width: 0;
                    opacity: 1;
                }
                100%{
                    opacity: 1;
                }
            }
            .tooltip{
                position: relative;
                left: 100%;
                top: -30px;
                font-family: 'fira sans';
                font-size: 16px;
                font-weight: 500;
                font-weight: 800;
                color: #fff;
                padding: 2px 6px;
                border-radius: 3px;
                opacity: 1;
                overflow: hidden;
                display: none;
            }
        }
    }
}
// ==============My skils section end =================





// ==============what i do section =================
.what-i-do{
    .what-i-do-container{
        padding-top: 4rem;
        .heding{
            display: grid;
            place-items: center;
            @include heding();
            @include tablet-only{
                padding-bottom: 1rem;
            }
        }
        .card-box-group{
            @include tablet-only{
                margin-inline: 5rem;            }
            .card{
                margin-top: 1rem;
                background: $bs-card-color;
                display: grid;
                place-items: center;
                text-align: center;
                border-radius: 10px;
                border: 2px solid $primary-color;
                transition: all .50s ease;
                cursor: pointer;
                img{
                    @include mobile-only{
                        width: 70%;
                    }
                }
                &:hover{
                    box-shadow: 0 0 20px $primary-color;
                }
            }
            .card-heding{
                font-family: 'Fira Sans';
                color: $body-white;
                font-weight: 900;
                font-size: 2rem;
                text-transform: capitalize;
                padding-block: 1.5rem;
                @include mobile-only{
                    font-size: 1.375rem;
                    padding-block: 1rem;
    
                }
            }
            .card-text{
                font-family: 'Fira Sans';
                color: $body-white;
                font-weight: 100;
                font-size: 1rem;
            }

        }
    }
}
// ==============what i do section end =================



// ==============project section =================
.project-section{
    padding-block: 8rem;
    @include mobile-only{
        padding-block: 3rem;
    }
    .Project-container{
        .heding{
            display: flex;
            align-items: center;
            justify-content: center;
            @include heding();
        }
        .project{
            border-radius: 10px;
            cursor: pointer;
            text-align: center;
            transition: all .50s ease;
            &:hover{
                box-shadow: 0 0 20px $bs-project-color;
            }
        }
        .project-1{
            background-color: $bs-project-color;
            padding: 20px;
            &:hover{
                box-shadow: 0 0 20px $bs-project-color;
            }
        }
        .project-2{
            background-color: $bs-project-color-2;
            &:hover{
                box-shadow: 0 0 20px $bs-project-color-2;
            }
        }
        .project-3{
            background-color: $bs-project-color-3;
            width: 100%;
            height: 400px;
            overflow: hidden;
            &:hover{
                box-shadow: 0 0 20px $bs-project-color-3;
            }
        }
        .project-4{
            background-color: $bs-project-color-4;
            width: 100%;
            height: 400px;
            overflow: hidden;
            &:hover{
                box-shadow: 0 0 20px $bs-project-color-4;
            }
            
        }
        .project-titel{
            padding-block: 2rem;
            .project-heding{
                @include project-heding();
            }
            .project-date{
                @include project-date();
            }
            a{
                i{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: $body-white;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    backdrop-filter: brightness(88%);
                    font-size: 2rem;
                    box-shadow: 0 0 20px transparent;
                    cursor: pointer;
                    transition: all .50s ease;
                    &:hover{
                        transform: scale(1.1);
                        box-shadow: 0 0 20px $primary-color;
                    }

                }
            }
        }
        .title-right{
            text-align: right;
        }
        .git-link{
            font-family: 'fira sans';
            font-weight: bold;
            font-size: 2rem;
            color: $primary-color;
            text-decoration: none;
            display: grid;
            place-items: center;
            padding-top: 7rem;
            transition: all .50s ease;
            &:hover{
                text-shadow: 0 0 20px $primary-color;

            }
            
        }
    }
}
// ==============project section end=================


// ==============contact me section=================
.contact-me{
    padding-top:6rem ;
    @include mobile-only{
        padding-top: 0rem
    }
    .contact-me-container{
        .contact-text{
            .heding{
                @include heding();
            }
            .pragraph{
                color: $body-white;
                font-family: 'fira sans';
                font-size: 2rem;
                font-weight: 600;
                @include mobile-only{
                    font-size: 1rem;
                }
                @include tablet-only{
                    font-size: 1rem;
                }
            }
        }
        .contact-info{
            padding-block: 3.5rem;
            @include mobile-only{
                padding-block: 1rem;
            }
            .touch-button{
                padding-top: 20px;
                a{
                    text-decoration: none;
                    button{
                        background: $secondary-color;
                        outline: transparent;
                        border: 0;
                        width: 80%;
                        height: 50px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        transition: all .50s ease;
                        border: 1px solid transparent;
                        @include mobile-only{
                            width: 100%;
                        }
                        @include tablet-only{
                            width: 100%;
                            padding: 40px 10px;
                        }
                        &:hover{
                            box-shadow: 0 0 10px $primary-color;
                            border: 1px solid $primary-color;
                        }
                        .mail, .call{
                            padding: 6px 10px;
                            border-radius: 6px;
                            background: $body-black; 
                            font-size: 1.5rem;
                            color: $body-white;  
                            @include mobile-only{
                                font-size: 1rem;
                            }                            

                        }
                        .get-touch{
                            width: 100%;
                            margin-inline: 2rem;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include mobile-only{
                                margin-inline: 10px;
                            }
                        }
                        .email, .phone{
                            font-size: 1.275rem;
                            color: $body-white;
                            font-family: 'fira sans';
                            font-weight: 600;
                            @include mobile-only{
                                font-size: 1rem;
                            } 
                        }
                        .fa-arrow-right{
                            font-size: 1.5rem;
                            color: $body-white;
                            @include mobile-only{
                                font-size: 1rem;
                            }
                        }
                    }
                }

            }
        }
        .social-media ul {
            list-style: none;
            display: flex;
            padding: 0;
        }
        
        .social-media ul li {
            padding-right: 0.5rem;
            &:last-child {
                padding-right: 0;
            }
        }
        .social-media i{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            backdrop-filter: brightness(88%);
            font-size: 20px;
            box-shadow: 0 0 20px transparent;
            cursor: pointer;
            transition: all .50s ease;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0 0 20px $primary-color;
            }
        }
        .send-massege{
            width: 100%;
            background: linear-gradient(90deg, $bs-tertiary-color, $body-black);
            border-radius: 10px;
            padding: 20px 40px;
            @include mobile-only{
                padding: 5px;
            }
            .heding{
                font-family: 'fira sans';
                font-size: 2rem;
                font-weight: bold;
                color: $primary-color;
                padding-bottom: 10px;

            }
            form{
                .input-box input,textarea{
                    width: 100%;
                    padding-block: 10px;
                    padding-left: 20px;
                    font-family: 'fira sans';
                    font-size: 1rem;
                    font-weight: bold;
                    color: $body-white;
                    margin: 10px 0;
                    outline: 0;
                    border-radius: 20px;
                    background: $secondary-color;
                    border: 0;
                    border: 1px solid transparent;
                    transition: all .50s ease; 
                    @include tablet-only{
                        font-size: 1.5rem;

                    }
                }
                input:hover,textarea:hover{
                    border: 1px solid $primary-color;
                    box-shadow: 0 0 10px $primary-color;
                    background: transparent;                      
                }
                .my-button{
                    button{
                        width: 100%;
                        padding: 6px;
                        font-family: 'fira sans';
                        font-size: 1.5rem;
                        color: $body-white;
                        font-weight: bold;
                        margin: 10px 0;
                        background: $primary-color  ;
                        border: 1px solid $primary-color;
                        border-radius: 50px;
                        transition: all .50s ease;
                        @include mobile-only{
                            font-size: 1rem;
                        }
                        i{
                            padding-left: 1rem;
                        }
                        &:hover{
                            background: transparent;
                            box-shadow: 0 0 20px $primary-color;
                        }
                    }

                }
            }
        }
    }
}
// ==============contact me section end=================




// ==============follow me section=================
.follow-me{
    padding-block: 5rem;
    .follow-me-container{
        .heding{
            @include heding();
        }
        .folow-icon{
            display: grid;
            place-items: center;
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                gap: 4rem;
                @include mobile-only{
                    // gap: 2rem;
                }
                li {
                padding-right: 0;
                    i{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        color: $primary-color;
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                        backdrop-filter: brightness(88%);
                        font-size: 3rem;
                        box-shadow: 0 0 20px transparent;
                        cursor: pointer;
                        transition: all .50s ease;
                        &:hover{
                            transform: scale(1.1);
                            box-shadow: 0 0 20px $primary-color;
                        }
                    }
                }
            }

        }

    }
}
// ==============follow me section end=================


// ==============footer section =================
.footer-section{
    .container{
        .row{
            .col-12{
                .footer-contain{
                    hr{
                        width: 100%;
                        height: 2px;
                        background: $primary-color;
                        opacity: 100;
                    }
                    p{
                        text-align: center;
                        font-family: 'fira sans';
                        font-weight: 600;
                        font-size: 1rem;
                        color: $body-white;
                        padding-block: 10px;
                    }
                }
            }
        }
    }
}
// ==============footer section end=================






//===============================brekpoint=============
// === Breakpoint Variables ===
@media (max-width: 768px) {
    //==========================nav bar========================    
    .nav-section{
        .nav-container{
            --bs-gutter-x: 0;
            margin-left: 0;
            margin-right: 0;
            max-width: 100vw;
            .navbar{
                border-radius: 0;
                top: 0;
                .brand-name{
                    font-size: 1.275rem;
                }
                .toogle{
                    display: block;
                    padding-right: 1rem;
                }
                .nav-menu{
                    position: absolute;
                    width: 100vw;
                    height: auto;
                    top: 58px;
                    left: -200%;
                    padding: 2rem;
                    background-color: rgb(9, 8, 8);
                    backdrop-filter: blur(5px);
                    transition: .50s linear;
                    &::before{
                        content: none;

                    }
                    &::after{
                        content: none;
                    }
                    .nav-link{
                        flex-direction: column;
                        align-items: self-start;
                        gap: 2.5rem;
                        transition: .50s linear;
                        li{
                            a{
                                font-size: 1.375rem;
                                font-weight: bolder;
                                text-transform: capitalize;
                            }
                        }
                        .nav-btn{
                            display: none;

                        }
                        .nav-contact{
                            display: block;
                        }
                    }
                }
                .active-nav{
                    left: 0;

                }
            }
        }

    }
    .back-to-top {
        display: none !important;
    }
    html,body{
        overflow-x: hidden;
    }
}
